tqdm
dash
torch
whisper
dash_auth
markupsafe
pdfplumber
llama-index
torchvision
python-dotenv
openai-whisper
dash-bootstrap-components
llama_index.readers.file
llama_index.llms.azure_openai
llama_index.vector_stores.chroma
llama_index.embeddings.huggingface
torchvision
torchaudio 
--extra-index-url https://download.pytorch.org/whl/cu118
